body {
    background-image: url("https://i.imgur.com/yDpuXU0.jpg");
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    font-size: 13px;
}

p {
    font-size: 20px;
}
#body {
    background-color: rgb(145, 144, 134);
    font-size: 13px;

}
#formulario {
    float: left;
    position: relative;
    top: 50px;
}

#formu li 
{
    list-style-type:none;
    height:50px;
    width: 200px;
}

h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    width: 900px;
    margin: 0 auto;
    position: relative;
    top: 70px;
	color: black;
	margin-bottom: 100px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
 
#h2 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    position: relative;
    right: 530px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

td {
    font-size:14px;
}

#boton {
 position: relative;
 top: 20px;
 font-size: 10px;
 width:70px; 
 height:25px;
}

#boton2 {
    position: relative;
    right: 20px;
}



#formulario li {
    list-style-type:none;

}

.table {
    float: center;
}


